* {
    margin: 0;
    padding: 0;
    border: border-box;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color :#e2e7e6;
}
.navbar {
    background-color: #161818;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

.nav-logo{
    height:70px;
    width:150px;
    margin:0 20px;
}
.logo{
    background-image: url("./images/logo.jpg");
    background-size: cover;
    height:70px;
    width:100%;
    border-radius: 10px;
}


.border{
    border:2px solid transparent;
}

.border:hover{
    border:2px solid black;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:550px;
    background-color: rgb(21, 20, 21);
}
.nav-search:hover{
    border:2px solid orange;
    border-radius:5px;
}
.search-input{
    height:35px;
    width:500px;
    font-size: 1.5 rem;
    font-weight: bolder;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
    color:#161818;
    padding:0px 10px;
}
.search-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.3rem;
    width:45px;
    background-color: rgb(240, 191, 76);
    height:35px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.text{
    color:white;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}
.button{
    border-radius: 5px;
    width:140px;
    background-color: grey;
    padding:5px;
    border:none;
    height:40px;
    cursor: pointer;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid yellow;
}

.text:hover{
    color:white;
    font-size: 1.6rem;
}
.border-shop:hover{
    border:2px solid yellow;
    font-size: 1.5rem;
    font-weight: bolder;
}
.nav-shop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
.nav-shop i{
    font-size: 30px;
}

.panel{
    background-color: #222f3d;
    height:30px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel-ops p{
    display:inline;
    font-size: 1rem;
    margin-left: 15px;
}
.panel-ops{
    width:63%;
}

.deals{
    font-size: 1.15rem;
    font-weight: bolder;
}

/**main**/

.hero-sect{
    background-image: url("./images/hero_image.jpg");
    height:380px;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: gray;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-bottom: 10px;
}
.hero-msg p{
    font-size: 1.05rem;
    font-style: italic;
    color:black;
    font-weight: 700;
}

/**shop section **/

.shop-sect{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #e2e7e6;
}
.box{
    background-color: white;
    height:250px;
    width:23%;
    padding: 20px 0px 15px;
    margin-top:15px;
    border-radius:7px;
}
.box-text{
    color:black;
    margin-left: 15px;
}

.box-img{
    height:75%;
    background-size: cover;
    margin:15px;
}

.box p{
    color:#007185;
}

.shop-sect2{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #e2e7e6;
}

/** banner section **/
.banner{
    background-image: url("./images/b2.jpg");
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top:45px;/*45*/
}
.banner h4{
    font-size:1rem;
    margin-bottom:20px;
}
.banner h2{
    font-size:2rem;
    margin-bottom:20px;
}
.banner span{
    font-weight:bolder;
    font-size: 2.5rem;
    color:#ef3636;
}
.banner button{
    color:black;
    padding:15px;
    width:150px;
    border-radius:5px;
    border:none;
    font-size:1rem;
    font-weight: 550;
    cursor:pointer;
}
.banner button:hover{
    background-color: #088178;
    color:white;
}

/**shop-sect3**/
.sect3-text{
    padding:25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-top: 25px;*/
    background-color: #ef3636;
    height: 150px;
}

.sect3-text h2{
    color:black;
    font-size: 3rem;
    margin-bottom: 10px;
}
.sect3-text p{
    color:black;
    font-size: 1rem;
    font-weight: 500;
}

.shop-sect31{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 20px;
}

.shop-sect31 .box-img{
    height:80%;
    background-size: cover;
    border-radius: 15px;
    margin:10px 10px;
    margin-bottom: 2px;
    cursor: pointer;
}
.shop-sect31 .box{
    background-color: white;
    height:320px;
    width:19%;
    padding:0px;
    border-radius:15px;
    border:0.5px solid transparent;
}
.star1{
    display:flex;
    margin-bottom: 5px;
}
.logo31{
    display:flex;
    padding: 0px 15px;
}
.star{
    margin-bottom: 5px;
    width:75%;
    padding-top:10px;
}
.cart31{
    background-color: #e2e7e6;
    border-radius: 50%;
    padding:15px;
    height: 20px;
    cursor: pointer;
}
.cart31 i{
    font-size: 1.15rem;
}


/**banner**/

.offer{
    background-size: cover;
    height:200px;
  /*  margin-top:25px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer h2{
    color: #ef3636;
    font-size: 4rem;
}
.offer h3{
    color: #ef3636;
    font-size: 2rem;
}
/*
.offer i{
    font-size: 5rem;
}
*/
.sc-banner{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:45px;
    padding:0px 50px;
}
.ban1{
    background-size: cover;
    height:400px;
    width:44%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}
.ban1 .p1{
    font-size:1.05rem;
    margin-bottom: 5px;
}
.ban1 h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.ban1 .p2{
    font-size:0.95rem;
    margin-bottom: 5px;
}
.ban1 button{
    background-color: transparent;
    padding:10px 0px;
    width:120px;
    border-radius:2px;
    border:none;
    font-size:0.85rem;
    font-weight: 550;
    cursor:pointer;
    border: 2px solid white;
    margin-top:10px;
}
.ban1:hover button{
    background-color: #088178;
    color:white;
}

.sc-banner2{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:45px;
    padding:0px 50px;
}
.ban2{
    background-size: cover;
    height:200px;
    width:28%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left:25px;
}
.ban2 h2{
    margin-bottom:15px;
}
.ban2 p{
    color:#ef3636;
    font-weight: bolder;
}