* {
    margin: 0;
    padding: 0;
    border: border-box;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #161818;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

.nav-logo{
    height:70px;
    width:150px;
    margin:0 20px;
}
.logo{
    background-image: url("./images/logo.jpg");
    background-size: cover;
    height:70px;
    width:100%;
    border-radius: 10px;
}


.border{
    border:2px solid transparent;
}

.border:hover{
    border:2px solid black;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:550px;
    background-color: rgb(21, 20, 21);
}
.nav-search:hover{
    border:2px solid orange;
    border-radius:5px;
}
.search-input{
    height:35px;
    width:500px;
    font-size: 1.5 rem;
    font-weight: bolder;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
    color:#161818;
    padding:0px 10px;
}
.search-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.3rem;
    width:45px;
    background-color: rgb(240, 191, 76);
    height:35px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.text{
    color:white;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}
.button{
    border-radius: 5px;
    width:140px;
    background-color: grey;
    padding:5px;
    border:none;
    height:40px;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid yellow;
}

.text:hover{
    color:white;
    font-size: 1.6rem;
}
.border-shop:hover{
    border:2px solid yellow;
    font-size: 1.5rem;
    font-weight: bolder;
}
.nav-shop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
.nav-shop i{
    font-size: 30px;
}

.panel{
    background-color: #222f3d;
    height:30px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel-ops p{
    display:inline;
    font-size: 1rem;
    margin-left: 15px;
}
.panel-ops{
    width:63%;
}

.deals{
    font-size: 1.15rem;
    font-weight: bolder;
}

/**main**/

.hero-sect{
    background-image: url("./images/hero_image.jpg");
    height:380px;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: gray;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-bottom: 10px;
}
.hero-msg p{
    font-size: 1.05rem;
    font-style: italic;
    color:black;
    font-weight: 700;
}

/**shop section **/

.shop-sect{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #e2e7e6;
}
.box{
    background-color: white;
    height:250px;
    width:23%;
    padding: 20px 0px 15px;
    margin-top:15px;
}
.box-text{
    color:black;
    margin-left: 15px;
}

.box-img{
    height:75%;
    background-size: cover;
    margin:15px;
}

.box p{
    color:#007185;
}

.shop-sect2{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #e2e7e6;
}